.navbar{
  height: 60px;
  margin-bottom: 0;

}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-bottom: 0;


  }
  
  .navbar-brand>img {
    padding: 7px 14px;
    margin-bottom: 0;


  }


